<div class="map_box">
  <h3>Requete n° <%= departure.departure_request.id %></h3>
  <p><%= departure.departure_request.description %></p>
  <p>Depart : <%= departure.address %></p>
  <p>Arrivée : <%= departure.departure_request.arrival.address %></p>
  <p>Client : <%= departure.departure_request.customer.email %></p>
  <%= link_to "Details", request_path(departure.departure_request), target: :blank, class: "btn btn-warning" %>
</div>
