<div class="container">
  <%= simple_form_for :search, url: requests_path, method: :get do |f| %>
    <div class="row">
        <div class="col-lg-6 col-xs-12">
          <%= f.input :address, as: :string, input_html: {id: "address", value: @searched_address, class: "form-search search-form-requests"}, required: true, autocomplete: "on", label:false %>
        </div>
        <div class="col-lg-6 col-xs-12">
          <div class="search-form-requests">
            <div class="un">
              <%= render 'shared/slider' %>
              <%= f.input :radius, input_html: { value: @searched_radius }, as: :hidden %>
            </div>
            <div class="deux">
              <%= f.button :submit, class: "btn-rider btn-right", value: "Rechercher" %>
            </div>
          </div>
        </div>
    </div>
  <% end %>
</div>

<div class="desktop">
  <div id="map"></div>
</div>
<div class="mobile">
  <div class="container">
      <div class="row">
        <% @departures.each do |departure| %>
          <div class="col-lg-4 col-xs-12 center">
            <div class="index-card">
              <%= link_to request_path(departure.departure_request) do %>
                <h3 class="small-header"> Course n° <%= departure.departure_request.id %></h3>
                Prix : <%= departure.departure_request.price.round %>€ <br>
                <div id="map"></div>
              <% end %>
            </div>
          </div>
        <%end%>
    </div>
  </div>
</div>

<%= content_for(:after_js) do %>
  <script type="text/javascript">
  $(document).on('ready', function() {
    var directionsDisplay = new google.maps.DirectionsRenderer();
    var directionsService = new google.maps.DirectionsService();

    function initialize() {
      var input = document.getElementById('address');
      var autocomplete = new google.maps.places.Autocomplete(input);
    }
    google.maps.event.addDomListener(window, 'load', initialize);

    function calcRoute(lat_departure, lng_departure, lat_arrival, lng_arrival) {
      console.log('lat_departure :' + lat_departure)
      var origin      = new google.maps.LatLng(lat_departure, lng_departure);
      var destination = new google.maps.LatLng(lat_arrival, lng_arrival);
      var request = {
          origin:      origin,
          destination: destination,
          travelMode:  google.maps.TravelMode.DRIVING
      };
      directionsService.route(request, function(response, status) {
        if (status == google.maps.DirectionsStatus.OK) {
          directionsDisplay.setDirections(response);
        }
      });
    }

    var handler = Gmaps.build('Google');
    handler.buildMap({ internal: { id: 'map' } }, function(){
      markers = handler.addMarkers(<%= raw @hash.to_json %>);
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
      directionsDisplay.setMap(handler.getMap());
      if (markers.length == 0) {
        handler.getMap().setZoom(2);
      } else if (markers.length == 1) {
        handler.getMap().setZoom(14);
      };
      <%= raw @hash.to_json %>.forEach(function(marker) {
        // Listen if marker is clicked => if clicked : display directions
        google.maps.event.addListener(marker, 'click', function(){
          alert('call calcRoute')
          calcRoute(marker.lat, marker.lng, marker.json.lat_arrival.to_f, marker.json.lng_arrival.to_f);
          directionsDisplay.setMap(handler.getMap());
        });
      })
    });
  });
  </script>
<% end %>
