<div class="container">
  <div class="row">
    <div class="col-lg-6 col-xs-12">
      <div class="card-show">
        <h3 class="small-header"> Course n° <%= @request.id %></h3>
        <p> <b>Adresse de retrait</b> : <%= @request.departure.address %></p>
        <p> <b>Adresse de livraison</b> : <%= @request.arrival.address %></p>
        <p> <b>Description de la course</b> : <%= @request.description %></p>
        <p> <b>Type de colis</b> : <%= image_tag @request.parcel_icon, class: "parcel-icon-logo"%></p>
      </div>
      <div class="card-show card-show-center">
        <h3 class="small-header"> Client </h3>
        <p> <b>Nom</b> : <%= @request.customer.to_s %></p>
        <p> <b>Contact</b> : <%= @request.customer.email %></p>
      </div>
        <% if @request.pending? %>
            <div id="booked">
              <div class="booked-ride">
                <%= render 'requests/booked', request: @request %>
              </div>
            </div>
        <% else %>
          <div class="show-validation">
            <h4 class="small-header show-switch-label">Je prends ce ride</h4>
            <div class="show-switch"><%= render 'shared/switch', on: 'Confirmé', off: 'Valider' %></div>
            <div id="booked"></div>
          </div>
        <% end %>
    </div>
  </div>
</div>

<a class="btn btn-primary" role="button" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
  Link with href
</a>
<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
  Button with data-target
</button>
<div class="collapse" id="collapseExample">
  <div class="well">
    ...
  </div>
</div>
