<div class="container">
  <div class="row">
    <div class="col-xs-6 col-lg-12">
      <h1 class="text-center"> Commande n° <%= @request.id %></h1>

        <p>Depart : <%= @request.departure.address %> - Arrivee : <%= @request.arrival.address %></p>
        <p>description : <%= @request.description %></p>
        <p>type de colis : <%= @request.parcel %></p>
        <p>client <%= @request.customer.email %></p>

      <div class="col-xs-6 col-lg-12">
          <% if @request.pending? %>
            <div id="booked">
              <%= render 'requests/booked', request: @request %>
            </div>
          <% else %>
            <%= render 'shared/switch' %>
            <div id="booked"></div>
          <% end %>
      </div>

    </div>
    <div class="col-xs-6 col-lg-12">
      <div id="map" style='width: 100%; height: 600px;'></div>
    </div>
  </div>
</div>

<%= content_for(:after_js) do %>
  <script type="text/javascript">
  $(document).on('ready', function() {
    var directionsDisplay = new google.maps.DirectionsRenderer();
    var directionsService = new google.maps.DirectionsService();

    function calcRoute(lat_departure, lng_departure, lat_arrival, lng_arrival) {
      var origin      = new google.maps.LatLng(lat_departure, lng_departure);
      var destination = new google.maps.LatLng(lat_arrival, lng_arrival);
      var request = {
          origin:      origin,
          destination: destination,
          travelMode:  google.maps.TravelMode.DRIVING
      };
      directionsService.route(request, function(response, status) {
        if (status == google.maps.DirectionsStatus.OK) {
          directionsDisplay.setDirections(response);
        }
      });
    }

    calcRoute(<%= @request.departure.latitude %>, <%= @request.departure.longitude %>, <%= @request.arrival.latitude %>, <%= @request.arrival.longitude %>);

    var handler = Gmaps.build('Google');
    handler.buildMap({ internal: { id: 'map' } }, function(){
      directionsDisplay.setMap(handler.getMap());
    });

  });

  $("#switch-shadow").change(function(event) {
    $.ajax({
      method: "put",
      url: '<%= request_path(@request) %>',
      dataType: 'script',
      format: 'js'
    });
  });

  </script>
<% end %>
