<div class="container">
  <div class="row">
    <div class="col-xs-6 col-lg-12">
      <h1 class="text-center"> Commande n° <%= @request.id %></h1>
      <div class="col-xs-6 col-lg-12">
        <p>D : <%= @request.departure %> - A : <%= @request.arrival %></p>
        <p>description : <%= @request.description %></p>
        <p>type de colis : <%= @request.parcel %></p>
        <p>client <%= @request.customer.email %></p>
      </div>
      <div class="col-xs-6 col-lg-12">
        <%= link_to "J'y vais", request_path(@request), method: :put, class: 'btn btn-primary' %>
      </div>
    </div>
  </div>
</div>
