<div class="team-wrapper">
  <h3 class="small-header team-header">Dailyvery Team</h3>
  <div class="team-card">
    <div class="speech-wrapper">
      <div class="bubble alt">
        <div class="txt">
          <p class="name alt">Sibylle de Courcel<span> ~ Google API whisperer</span></p>
          <span class="timestamp"></span>
          <p class="message"> Je suis un Cardigan Welsh Corgi de presque 1 an. <br> Ce que le Wagon m'a apporté ? Pas mal de caresses et quelques morceaux de mandarine. Ça valait le coup. En plus, j'ai aboyé un petit peu tous les jours. </p>
        </div>
        <div class="bubble-arrow alt"></div>
      </div>
    </div>
    <div class="team-avatar">
       <%= image_tag(('team/sibylle.jpg'), class: 'avatar-large') %>
    </div>
  </div>
  <div class="team-card">
    <div class="team-avatar">
       <%= image_tag(('team/mevanwy.JPG'), class: 'avatar-large') %>
    </div>
    <div class="speech-wrapper">
      <div class="bubble">
        <div class="txt">
          <p class="name alt">Dame Mévanwy <span> ~ Undertable K9 agent</span></p>
          <span class="timestamp"></span>
          <p class="message"> Je suis un Cardigan Welsh Corgi de presque 1 an. <br> Ce que le Wagon m'a apporté ? Pas mal de caresses et quelques morceaux de mandarine. Ça valait le coup. En plus, j'ai aboyé un petit peu tous les jours. </p>
        </div>
        <div class="bubble-arrow"></div>
      </div>
    </div>
  </div>
  <div class="team-card">
    <div class="speech-wrapper">
      <div class="bubble alt">
        <div class="txt">
          <p class="name alt">Erwann de Dieuleveult<span> ~ Wannabe fullstack guru</span></p>
          <span class="timestamp"></span>
          <p class="message"> Je suis un Cardigan Welsh Corgi de presque 1 an. <br> Ce que le Wagon m'a apporté ? Pas mal de caresses et quelques morceaux de mandarine. Ça valait le coup. En plus, j'ai aboyé un petit peu tous les jours. </p>
        </div>
        <div class="bubble-arrow alt"></div>
      </div>
    </div>
    <div class="team-avatar">
       <%= image_tag(('team/erwann.jpg'), class: 'avatar-large') %>
    </div>
  </div>
  <div class="team-card">
    <div class="team-avatar">
       <%= image_tag(('team/pauline.jpg'), class: 'avatar-large') %>
    </div>
    <div class="speech-wrapper">
      <div class="bubble">
        <div class="txt">
          <p class="name alt">Pauline Gilles-Amar <span> ~ CSS witchcrafter </span></p>
          <span class="timestamp"></span>
          <p class="message">
            Je jette des sors sur des divs et j'espère que ça se passe bien. So far so good. <br>
            Après le Wagon, je retourne à Paris et j'y chercherai un stage / un poste en tant que dev front-end. <br>
            <span class="team-links">
              <a href="https://github.com/capucinetroalen"><i class="fa fa-github" aria-hidden="true"></i></a>
              <a href="https://www.linkedin.com/in/paulinegillesamar/"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
            </span>
          </p>
        </div>
        <div class="bubble-arrow"></div>
      </div>
    </div>
  </div>
    <div class="team-card">
    <div class="speech-wrapper">
      <div class="bubble alt">
        <div class="txt">
          <p class="name alt">Eric Piboyeux<span> ~ Obscur bugs fixer</span></p>
          <span class="timestamp"></span>
          <p class="message"> Je suis un Cardigan Welsh Corgi de presque 1 an. <br> Ce que le Wagon m'a apporté ? Pas mal de caresses et quelques morceaux de mandarine. Ça valait le coup. En plus, j'ai aboyé un petit peu tous les jours. </p>
        </div>
        <div class="bubble-arrow alt"></div>
      </div>
    </div>
    <div class="team-avatar">
       <%= image_tag(('team/eric.jpg'), class: 'avatar-large') %>
    </div>
  </div>
</div>

