<div class="customer-index">
  <h1 class="customer-requests">Mes demandes en cours</h1>
<%= link_to new_customer_request_path do %>
  <button class="btn btn-primary customer-btn">Créer une nouvelle demande</button>
  <% end %>
  <!-- Pauline : affichage si pas de request pour current_user -->
  <% if @customer_requests.empty? %>
    <div class="empty-requests">
      <p>Vous n'avez aucune demande en cours.</p>
    </div>
  <!-- Eric -->
  <% else %>
    <table class="rwd-table">
      <tr>
        <th>Adresse de retrait</th>
        <th>Adresse de livraison</th>
        <th>Description de la course</th>
        <th>Information Rider</th>
      </tr>
      <% @customer_requests.each do |request| %>
        <tr>
          <td data-th="Adresse de retrait"><%= request.arrival.address %></td>
          <td data-th="Adresse de livraison"><%= request.arrival.address %></td>
          <td data-th="Description de la course"> <%= image_tag request.parcel_icon, style: 'height:20px; width:20px;' %> <br>
          <%= request.description %></td>
          <td data-th="Rider"> <% if request.rider.nil? %> Pas de rider sur cette course
            <% else %>
              <%= request.rider.to_s %>
              <%= request.rider.email %>
              <br>
              <i>(code : <%= request.code %>)</i>
            <% end %>
          </td>
        </tr>
        <% end %>
    </table>
  <% end %>
</div>
