<div class="form-wrapper" style="margin: 20px 10%;">
  <h1>Créer une nouvelle demande</h1>
  <%= simple_form_for @request, url: customer_requests_path, method: "POST" do |f| %>
    <%= f.error_notification %>

    <%= f.input :description %>
    <%= f.input :departure,label: "Adresse de départ", input_html: {id: "departure_address"} %>
    <%= f.input :arrival, label: "Adresse d'arrivée", input_html: {id: "arrival_address"} %>
    <%= f.label "Type de colis" %>
    <div style="display: flex; justify-content: space-between;width: 30%">
    <%= f.collection_radio_buttons(:parcel, [['S',0],['M',1],['L',2]], :last, :first, item_wrapper_tag: :div) do |b| %>
      <% b.label { b.radio_button + " " + image_tag(Request.parcel_type_icon(b.value), style: 'height:20px; width:20px;') } %>
      <% end %>
    </div>

    <div class="form-confirm hidden" style="background: grey; color: white;padding: 5px;">
      <div class="row">
        <div class="col-xs-12">
          <div class="price-tag" >
            Prix de la course : 2 €
            <%= f.button :submit, "Valider la demande" %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>


<%= content_for(:after_js) do %>
  <script type="text/javascript">
  $(document).on('ready', function() {

    function initialize() {
      var departure_input = document.getElementById('departure_address');
      var arrival_input = document.getElementById('arrival_address');
      var autocomplete = new google.maps.places.Autocomplete(departure_input);
      var autocomplete = new google.maps.places.Autocomplete(arrival_input);
    }
    google.maps.event.addDomListener(window, 'load', initialize);

    var directionsService = new google.maps.DirectionsService();
    var directionsDisplay = new google.maps.DirectionsRenderer();

    function calcRoute(departure, arrival) {
      var origin      = String(departure);
      var destination = String(arrival);
      var request = {
          origin:      origin,
          destination: destination,
          travelMode:  google.maps.TravelMode.DRIVING
      };
      directionsService.route(request, function(response, status) {
        if (status == google.maps.DirectionsStatus.OK) {
          //directionsDisplay.setDirections(response);
          //console.log(response["routes"][0]["legs"][0]["distance"]["value"]);
          var result = response["routes"][0]["legs"][0]["distance"]["value"];
          $('.price-tag').prepend('<p>Distance : ' + result/1000 + '</p>');
        }
      });
    }

    function testAddressFields() {
      var from = $("#departure_address").val();
      var to = $("#arrival_address").val();
      var parcel = 1;
      if ( from && to ) {
        calcRoute(from, to);
        $('.form-confirm').removeClass('hidden');
      };
    };

    $("#departure_address").change(function() {
      testAddressFields();
    });
    $("#arrival_address").change(function() {
      testAddressFields();
    });
  });

  </script>
<% end %>
